<html>
    <body>
        <nav class="navbar navbar-expand-sm navbar-light bg-warning">
            <div class="copyright">Copyright &copy; Binan Laguna Smashers 2024</div>
        </nav>
    </body>
</html>

