<html>
    <head>
        <%- include('partials/header.ejs') %>
    </head>
    <body>
        <%- include('partials/navbar1.ejs') %>
        <div class="container1">
            <h1>Contact Us</h1>
            <br>
            <h3>Address</h3>
            <p>
                National Highway Canlalay 
                <br>
                Binan, 4024 Laguna, Philippines
            </p>
            <h3>Contact</h3>      
            <p>
                Phone: +63 283 34026
                <br>                
                Email: Lagunasmasherpt@gmail.com
            </p>
            <h3>Opening Hours</h3>
            <p>Every day 6.00 am - 12.00 mn</p>
        </div> 
        <div class="footer4">
            <%- include('partials/footer.ejs') %>
        </div>
    </body>
</html>
