<html>
    <head>
        <%- include('partials/header.ejs') %>
    </head>

    <!-- Bootstrap CSS (place inside <head>) -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

<!-- Bootstrap JS (place before </body>) -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    
    <body>
        <%- include('partials/navbar1.ejs') %>
        <div class="container">
            <h1>Welcome to Laguna Smashers Point</h1>

             <img class="img" src="/public/images/badmintonlogo.jpg" alt="Welcome">
            <p style="text-align:justify;">

              The Heart of Badminton in Laguna!
At Laguna Smasher Point, we’re passionate about building a strong and active badminton community right here in Laguna, Philippines.
Whether you're just starting out or already competing, our platform is designed to help you play better, connect more, and enjoy every smash!


Step onto the court with confidence — Laguna Smasher Point is where your badminton journey takes flight. Let’s rally, smash, and rise together! 💥  

            </p>
            <p>
                
            </p>
        </div>
        <div class="footer">
            <%- include('partials/footer.ejs') %> 
        </div>
            
    </body>
</html>


